<!DOCTYPE html>
<html lang="{{ .Lang }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#1d1d1d" />
        <meta name="description" content="{{ .Description }}" />
        <meta name="author" content="{{ .Params.author }}" />
        <meta name="keywords" content="{{ with .Params.tags }}{{ delimit . "," }}{{ end }}" />
        <link rel="icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="manifest" href="/manifest.json" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>{{ .Title }}</title>
    </head>
    <body>
        <main>
            <article class="container">
                <h1>{{ .Title }}</h1>
                {{ block "details" . }}
                {{ .Content }}
                {{ end }}
                <div class="transition"></div>
                {{ block "main" . }}
                {{ .Content }}
                {{ end }}
            </article>
        </main>
        <footer>
            <div class="container">
                <hr class="transition">
                <p class="talign-center">macuyler@protonmail.com</p>
                <small class="talign-center">&copy; 2023 Macuyler Dunn</small>
            </div>
        </footer>
    </body>
</html>
